#animals img {
    width: 30vw;
    height: 20vw;
    border-radius: 10px;
    border: black solid 5px;
    opacity: 50%;
    transition: east-in-out .5s;
    
}

#animals :hover {
    opacity: 100%;
}

main {
    text-align: center;
}
